html,
body {
    height: 100%;
    width: 100%;
}


#contentOfNavigation{
   
    text-align: right;
    padding:6px;
}

#ContentOfLeftNavigation{
    
    padding:6px;
    
}

#GoogleLogo{
    height: 24px; 
    width: 74px;
    margin-left: 12px;
}


#MenuIcon{

    padding:8px;
    width:32px;
    height:32px;
}

#UserIcon{

    width: 48px;
    height:48px;
    padding:8px;
}

#Heading{
    color: #d93025;
    font-size: 20px;
    font-family: arial,sans-serif;
    margin-top:25px;
    margin-bottom:25px;
    margin-left:45px;
    margin-right:35px;
}

#TextAreaPadding{
    margin-top:40px;
    margin-bottom:25px;
    margin-left:45px;
    margin-right:35px;
    padding-bottom: 25px;
}

.MainContentArea{
    max-width: 1140px;
}

.MainFont{
    font-size: 16px;
    font-family: arial,sans-serif;
}

.SmallFont{
    font-size: 13px;
    font-family: arial,sans-serif;
}

.SmallFontBlue{
    color: blue;
    font-size: 13px;
    font-family: arial,sans-serif;
}

.VerySmall{
    font-size: 11px;
    font-family: arial,sans-serif;
    color: #555;
}

.VerySmallGray{
    color: #666;
    font-family: monospace;
    font-size: 11px;
}

.VerySmallBlue{
    color: blue;
    font-size: 11px;
}

.SearchBar{
    height: 42px;
}

.inputBox{
    width:572px;
    height:29px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.SmallInput{
    width:261px;
    height:29px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.containerCountry{
    color: rgba(0,0,0,.54);
    font-size:15px;
    text-decoration:none;
    vertical-align: middle;
    padding-right: 27px;
}

.InformationLink{
    text-decoration:none;
    color: blue;
}

.InformationLink:hover{
    text-decoration:underline;
   
}

#Country{

    border-bottom: 1px solid #dadce0;
    background-color: #f2f2f2;
    vertical-align: middle;
}

.containerInformation{
    color: rgba(0,0,0,.54);
    text-decoration:none;
    font-size:14px;
    padding-right: 27px;
    vertical-align: middle;
    font-family: arial,sans-serif;
}


#FooterMenu{
    background-color: #f2f2f2;
    display: inline-block;
}

.containerInformation:hover{
    color: rgba(0,0,0,.54);
    text-decoration:underline;
   
}

.containerCountry:hover{
    color: rgba(0,0,0,.54);
 
}

.DropdownMenu{
   
    border-radius: 2px;
    background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    
    border: 1px solid #dcdcdc;
    color: #444;
    height:29px;
    width:554px;
   
    font-size: 11px;
    font-weight: bold;
    line-height: 27px;
    list-style: none;
    margin: 0 2px;
    min-width: 46px;
    outline: none;
    padding: 0 18px 0 6px;
    text-align: center;
    text-decoration: none;
}


.SearchButton{
    box-shadow: none;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);
    border: 1px solid #3079ed;
    color: #fff;
    border-radius: 2px;
    font-weight: bold;
    text-align: center;
    width: 120px;
    height:30px;
}
}
