html,
body {
    height: 100%;
    min-width: 1140px;
}

.NavLink{
    padding-left: 15px;
    vertical-align: middle;
    font-size: 13px;
    font-family: arial,sans-serif;
    color: rgba(0,0,0,0.87);
    text-decoration:none;
}

.NavLink:hover{
    text-decoration:underline;
    color: rgba(0,0,0,0.87);
}

#contentOfNavigation{
   
    text-align: right;
    padding:6px;
}

#ImagesSearch{
    padding-right: 15px;
}

#MenuIcon{

    padding:8px;
    width:32px;
    height:32px;
}

#UserIcon{

    width: 48px;
    height:48px;
    padding:8px;
}

#GoogleIcon{

    
    align-items: left;
    background-size: 272px 92px;
    height: 92px;
    width: 272px;
    
}

#Google_Logo_Container {
    height: 31%;
}

.ImagesText{
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    position: relative;
    left: 215px;
    top: -20px;
    white-space: nowrap;
}

#SearchBar_Container{

    padding:20px;
}


.bar{
    margin:0 auto;
    width:530px;
    border-radius:30px;
    border:1px solid #dcdcdc;
    height:44px;
}

.searchbar{

    height:34px;
    border:none;
    width:320px;
    font-size:16px;
    outline: none;
   
}


.MagGlass{
    Height:44px;
    width:33px;
    
    
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

.searchicon{
    height:20px;
    height:20px;
    opacity: 0.5;
}

.searchbutton{
    height:23px;
    height:23px;
}

.voice{
    height:21px;
  }

.camera{
    height:25px;
}

.bar:hover{
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-radius: 24px;
}


.containerCountry{
    color: rgba(0,0,0,.54);
    font-size:15px;
    text-decoration:none;
    vertical-align: middle;
    padding-right: 27px;
}

#Country{

    border-bottom: 1px solid #dadce0;
    background-color: #f8f9fa;
    vertical-align: middle;
}

.containerInformation{
    color: rgba(0,0,0,.54);
    text-decoration:none;
    font-size:14px;
    padding-right: 27px;
    vertical-align: middle;
    font-family: arial,sans-serif;
   
}

.containerInformationRight{
  
    float: right;

}

#FooterMenu{
    background-color: #f8f9fa;
    display: inline-block;
    min-width: 1140px;
}

.containerInformation:hover{
    color: rgba(0,0,0,.54);
    text-decoration:underline;
   
}

.containerCountry:hover{
    color: rgba(0,0,0,.54);
 
}



